{% assign albums = site.categories.albums | where:"lang", page.lang %}
{% for album in albums %}
  <h2><a href="{{ album.url }}">{{ album.title | capitalize }}</a></h2>
  <p>{{ album.content | strip_html | truncatewords: 50 }}</p>
  <div class="gallery">
  {% for image in album.images limit: 4 %}

    {% if image.dropbox %}
      {% assign src = image.dropbox %}
      {% assign thumb = image.dropbox_thumb %}
      {% assign suffix = "?raw=1" %}
    {% else %}
      {% assign src = "/images/gallery/" %}
      {% assign thumb = "/images/gallery/" %}
    {% endif %}
    <div class="item">
      <a href="{{ src }}{{ image.file }}.jpg{{ suffix }}" data-lightbox="{{ page.title }}" data-title="{{ image.caption }}">
        <img src="{{ thumb }}{{ image.file }}_thumb.jpg{{ suffix }}" title="{{ image.caption }}">
      </a>
    </div>

  {% endfor %}
  </div>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>
